<a href="/admin">Back</a>
<br />

<form action="/admin/users" method="get" hx-trigger="keyup change from:input delay:500ms, submit, search"
    hx-select="#search-results" hx-target="#search-results" hx-swap="outerHTML">
    <input type="search" name="qtoken" value="{{qtoken}}" placeholder="Search Users...">
    <input type="search" name="qevent" value="{{qevent}}" placeholder="Search Events...">
    <span class="htmx-indicator"><img src="/img/bars.svg" /> Searching...</span>
    <input type="submit">
</form>


<table>
    <thead>
        <tr>
            <th>Token</th>
            <th>Events</th>
        </tr>
    </thead>
    <tbody id="search-results">
        {{> users}}
    </tbody>
</table>