<form hx-post="" hx-encoding="multipart/form-data" hx-target="this">
    {{notice}}<br />

    <label for="from">from</label>
    <input required name='from' value="{{from}}" /><br />
    <label for="subject">subject</label>
    <input name='subject' value="{{subject}}" /><br />
    <label for="safe">safe</label>
    <select name="safe">
        <option selected value="yes">yes</option>
        <option value="pending">pending</option>
        <option value="no">no</option>
    </select><br />

    <label for="attachments">attachments</label>
    <input type="file" multiple name="attachments" /><br />

    <input type="submit" />
</form>