<a href="/admin/events">All events</a>

(changing the event secret does not invalidate current loged in users. To do this, go to <a
    href="/admin/users?qevent={{slug}}">Admin/Users</a>)

<h2>Event</h2>
<form id="adminEvent" action="/admin/events/{{slug}}" method="post" hx-select="#adminEvent" hx-target="this"
    hx-swap="outerHTML">
    <hr />
    <label for="slug">slug</label>
    <input required name='slug' value="{{slug}}" /><br />

    <label for="name">name</label>
    <input required name='name' value="{{name}}" /><br />

    <label for="secret">secret</label>
    <input name='secret' value="{{secret}}" />

    <button>Edit</button>
    <button hx-delete="/admin/events/{{slug}}" hx-confirm="Are you sure?">Delete</button>
</form>

<h2>Add attachment</h2>
<form hx-push-url="false" id="attachment-upload" action="/admin/events/{{slug}}/add" method="post"
    hx-encoding="multipart/form-data" hx-target="#mails" hx-swap="beforeend">
    <label for="from">from</label>
    <input required name='from' value="{{from}}" /><br />
    <label for="subject">subject</label>
    <input name='subject' value="{{subject}}" /><br />

    <label for="attachments">attachments</label>
    <input type="file" multiple name="attachments" /><br />

    <input type="submit" />
    <progress id='upload-progress' value='0' max='100'></progress>
</form>
<script>
    htmx.on('#attachment-upload', 'htmx:xhr:progress', function (evt) {
        htmx.find('#upload-progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100);
    });
    htmx.on('#attachment-upload', 'htmx:xhr:loadend', function (evt) {
        htmx.find('#upload-progress').setAttribute('value', 0);
    });
</script>

<div id="mails">
    {{#mails}}
    {{> adminMail}}
    {{/mails}}
</div>