<a href="/admin/events">All events</a>

(changing the event secret does not invalidate current loged in users. To do this, go to <a
    href="/admin/users?qevent={{slug}}">Admin/Users</a>)

<h2>Event</h2>
<form id="adminEvent" action="/admin/events/{{slug}}" method="post" hx-select="#adminEvent" hx-target="this"
    hx-swap="outerHTML">
    <hr />
    <label for="slug">slug</label>
    <input required name='slug' value="{{slug}}" /><br />

    <label for="name">name</label>
    <input required name='name' value="{{name}}" /><br />

    <label for="secret">secret</label>
    <input name='secret' value="{{secret}}" />

    <button>Edit</button>
    <button hx-delete="/admin/events/{{slug}}" hx-confirm="Are you sure?">Delete</button>
</form>

<hr />
{{> addAttachment}}
<hr />

<div id="mails">
    {{#mails}}
    {{> adminMail}}
    {{/mails}}
</div>