<li hx-target="this" hx-indicator=".htmx-indicator">
    <form>
        <a href="/e/{{slug}}">Go to event</a>

        <label for="slug">slug</label>
        <input required name='slug' value="{{slug}}" /><br />

        <label for="name">name</label>
        <input required name='name' value="{{name}}" /><br />

        {{#secret}}
        <label for="secret">secret</label>
        <input type="secret" name='secret' value="{{secret}}" />
        {{/secret}}

        {{#size}}
        <input type="hidden" name="size" value="{{size}}" />
        ({{size}} entries)
        {{/size}}

        {{^size}}
        <button hx-get="/admin/events/{{slug}}" hx-swap="outerHTML" hx-indicator=".htmx-indicator">
            Load more info <img class="htmx-indicator" src="/img/bars.svg">
        </button>
        {{/size}}
        <br />

        <button hx-put="/admin/events/{{slug}}">Edit</button>
        <button hx-delete="/admin/events/{{slug}}" hx-confirm="Are you sure?">Delete</button>
        <a href="/admin/events/{{slug}}/add">Add attachment</a>
        <img src="/img/bars.svg" class="htmx-indicator" /><br />
    </form>
</li>