<a href="/admin">Back</a>
<br />

<form action="/admin/events" method="get" hx-trigger="keyup change from:input delay:500ms, submit, search"
    hx-swap="outerHTML">
    <input type="search" name="q" value="{{q}}" placeholder="Search events...">
    <input type="submit">
</form>

<table>
    <thead>
        <tr>
            <th>Slug</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="search-results">
        {{#events}}
        <tr>
            <td><a href="/e/{{slug}}">{{slug}}</a></td>
            <td>{{name}}</td>
            <td><a href="/admin/events/{{slug}}">Edit</a></td>
        </tr>
        {{/events}}
        {{^events}}
        No events
        {{/events}}
    </tbody>
</table>