<form action="/admin/events/{{slug}}/mails/{{id}}" method="post" hx-encoding="multipart/form-data" hx-target="this"
    hx-push-url="false">
    ({{id}})

    <input type="hidden" name='from' value="{{from}}" />
    From: {{from}}<br />

    <label for="name">name</label>
    <input required name='name' value="{{name}}" /><br />

    <label for="subject">subject</label>
    <input name='subject' value="{{subject}}" /><br />

    <label for="reviewed">reviewed</label>
    <input type="checkbox" name='reviewed' {{#reviewed}}checked{{/reviewed}}>
    <br />

    <label for="note">note</label>
    <textarea name='note'>{{note}}</textarea><br />

    <input type="submit" />
    <button hx-delete="/admin/events/{{slug}}/mails/{{id}}"
        hx-confirm="Are you sure you want to delete email from {{from}}?">Delete</button><br />

    <button hx-get="/e/{{slug}}/mail/{{id}}" hx-target="this" hx-select="#attachments" hx-swap="outerHTML">
        Load attachments...
    </button>
</form>