<div id="create">
    <div class="card">
        <div class="container">
            <div class="input-group">
                <h2>Decklist.fun</h2>

                <div class="stepper-wrapper">
                    <div class="stepper-item completed">
                        <div class="step-counter">1</div>
                        <div class="step-name">Create</div>
                    </div>
                    <div class="stepper-item active">
                        <div class="step-counter">2</div>
                        <div class="step-name">Share</div>
                    </div>
                    <div class="stepper-item ">
                        <a href="{{manageLink}}">
                            <div class="step-counter">3</div>
                            <div class="step-name">Use</div>
                        </a>
                    </div>
                </div>

                <p>You can now share <code>{{slug}}@decklist.fun</code> with your players.</p>
                <p>
                    Share with your collegues, and with your devices the secret: <code>{{secret}}</code>
                    Or directly share this link: <a href="{{manageLink}}">{{manageLink}}</a>.
                </p>
            </div>

            <a href="{{manageLink}}" clas="next-step">Go to the inbox</a>
        </div>
    </div>
</div>