<div id="create">
    <div class="card">
        <div class="container">
            <form method="post" action="">
                <div class="input-group">
                    <h2>Decklist.fun</h2>

                    <div class="stepper-wrapper">
                        <div class="stepper-item active">
                            <div class="step-counter">1</div>
                            <div class="step-name">Create</div>
                        </div>
                        <div class="stepper-item">
                            <div class="step-counter">2</div>
                            <div class="step-name">Share</div>
                        </div>
                        <div class="stepper-item ">
                            <div class="step-counter">3</div>
                            <div class="step-name">Use</div>
                        </div>
                    </div>

                    <p>This will generate an email adress you can share with your players, and grant you and your
                        collegues
                        access to a shared email inbox to keep track of decklists</p>
                </div>

                <div class="input-group">
                    <label for="slug">Slug<br />
                        <small>Username of your new email adress: <code>[Slug]@decklist.fun</code></small></label>
                    <input id="slug" name="slug" autocapitalize="none" style="text-transform: lowercase;"
                        value="{{slug}}" {{#validated}}class="error" {{/validated}} />
                    <p class="error">{{#validated}}
                        {{#slugExists}}
                        The Slug is taken
                        {{/slugExists}}
                        {{#slugFormat}}
                        The Slug can only contain letters (a-z), numbers (0-9), and periods (.)
                        {{/slugFormat}}
                        {{^slug}}
                        You need to specify a Slug
                        {{/slug}}
                        {{/validated}}
                    </p>
                </div>

                <div class="input-group">
                    <label for="name">Name of your event <i>(optional)</i></label><br />
                    <input id="name" name="name" value="{{name}}" />
                </div>

                <div class="cta">
                    <input type="submit" value="Create" class="next-step" />
                </div>
            </form>
        </div>
    </div>
</div>