<form method="post" action="">
    <h2>Create a new event</h2>

    <label for="name">name</label>
    <input id="name" name="name" value="{{name}}" />
    <br />

    <label for="slug">slug</label>
    <input id="slug" name="slug" autocapitalize="none" style="text-transform: lowercase;" value="{{slug}}"
        {{#validated}}{{#slugExists}}class="error" {{/slugExists}}{{/validated}} />
    {{#validated}}{{#slugExists}}
    The slug is taken
    {{/slugExists}}{{/validated}}
    <br />

    <input type="submit" />
</form>