<div id="container">
    <header>
        <p class="title">{{slug}}@decklist.fun
            <span class="copy" hx-on:click="copy('{{slug}}@decklist.fun')">📋</span>

        </p>
        {{#name}}<p class="sub">{{.}}</p>{{/name}}
    </header>

    <form id="search" hx-push-url=true class="searchbar" action="/e/{{slug}}" method="get"
        hx-trigger="keyup change from:input delay:500ms, submit, search">
        <input type="submit" value="🔎" alt="Search">
        <input id="iNeedAnIdToSmartSwap" type="search" name="q" value="{{q}}" placeholder="Search">
    </form>

    <div id="inbox">
        {{#mails}}
        <a href="/e/{{slug}}/mail/{{id}}">
            <div class="inbox-item" hx-on:click="select(this)">
                <div class="selector"></div>
                <div class="details">
                    <p class="name">
                        {{#name}}
                        {{.}}<span class="from"> ({{from}})</span>
                        {{/name}}
                        {{^name}}
                        {{from}}
                        {{/name}}
                    </p>
                    <p class="subject">{{subject}}</p>
                    <p class="note">{{note}}</p>
                </div>
                <div class="info">
                    <span hx-ext="date" data-date="{{date}}"></span>
                    <input disabled type="checkbox" name='reviewed' {{#reviewed}}checked{{/reviewed}} />
                    <span class="goto">></span>
                </div>
            </div>
        </a>
        {{/mails}}
        {{^mails}}
        No mails {{#q}}matchig <code>{{.}}</code>.{{/q}}{{^q}}. Share <code>{{slug}}@decklist.fun</code> with your
        players{{/q}}
        {{/mails}}
    </div>

    <div class="share">
        Share this code to your fellow judges <code>{{secret}}</code><span class="copy"
            hx-on:click="copy(window.location.origin + '/login?p={{secret}}')">📋</span>.
    </div>
</div>

<script>
    function copy(text) {
        navigator.clipboard.writeText(text).catch(function (err) {
            console.error('Could not copy text: ', err);
        });
    }

    function select(elem) {
        htmx.findAll(".inbox-item.selected").forEach(element => {
            element.classList.remove("selected")
        });
        elem.classList.add("selected");
    }
</script>