<div id="container">
    <header>
        <p class="title">
            <a href="/e/{{slug}}">{{slug}}@decklist.fun</a>
            <img src="/img/expand.png" class="expand" hx-on:click="fullscreen('{{slug}}@decklist.fun')" />
        </p>
        <p class="sub">
            ev{{slug}}-em{{id}}
        </p>
    </header>

    <div id="mail">

        <form id="updateMail" action="/e/{{slug}}/mail/{{id}}"
            hx-trigger="keyup delay:500ms, change from:input[type='checkbox']" method="post" hx-push-url="false">

            <h1>
                {{#name}}{{.}}<small> ({{from}})</small>{{/name}}
                {{^name}}{{from}}{{/name}}
                <input type="checkbox" name='reviewed' {{#reviewed}}checked{{/reviewed}}>
            </h1>
            <div class="date" hx-ext="date" data-date="{{date}}"></div>

            <textarea placeholder="Add a note" name='note'>{{note}}</textarea><br />
        </form>

        <h2>Subject:
            {{#subject}}{{.}}{{/subject}}

            {{^subject}}<small>[No Subject]</small>{{/subject}}
        </h2>
        <div id="attachments">
            {{#attachments}}
            {{#safe}}

            {{#text}}
            <p>{{.}}</p>
            {{/text}}

            {{#html}}
            <em>HTML is partially rendered.If you want to see the original, unsanitized version (might be unsafe) <a
                    href="{{link}}" target="_blank" rel="noopener noreferrer">download it</a>.</em>
            <div class="embedded">{{{.}}}</div>
            {{/html}}

            {{#img}}
            <img src="{{link}}" />
            {{/img}}

            {{#object}}
            <object type="{{.}}" data="{{link}}">
                Can't display {{type}}. Please <a href="{{link}}" target="_blank" rel="noopener noreferrer">download</a>
                to
                see it.
            </object>
            {{/object}}

            {{#name}}
            <span>A file named <code>{{.}}</code></span>
            {{/name}}


            <br />
            {{/safe}}
            {{^safe}}
            This attachment might not be safe because '{{problem}}'.
            Open at your own risk!
            {{/safe}}
            <a href="{{link}}" target="_blank" rel="noopener noreferrer">Open</a></p>
            <hr />
            {{/attachments}}
            {{^attachments}}
            No content 😕
            {{/attachments}}
        </div>
    </div>
</div>