<div id="container">
    <header>
        <a href="/e/{{slug}}">
            <p class="title">{{slug}}@decklist.fun
                <img src="/img/expand.png" class="expand" hx-on:click="fullscreen('{{slug}}@decklist.fun')" />
            </p>
            <p class="sub">
                ev{{slug}}-em{{id}}
            </p>
        </a>
    </header>

    <span class="date" hx-ext="date" data-date="{{date}}"></span>
    <h1>
        {{#name}}{{.}}<small> ({{from}})</small>{{/name}}
        {{^name}}{{from}}{{/name}}
    </h1>
    <h2>{{subject}}</h2>


    <form id="updateMail" action="/e/{{slug}}/mail/{{id}}"
        hx-trigger="change from:input[type='checkbox'] delay:500ms, submit" method="post" hx-target="this"
        hx-select="#updateMail" hx-push-url="false">
        <label for="reviewed">reviewed</label>
        <input type="checkbox" name='reviewed' {{#reviewed}}checked{{/reviewed}}>
        <br />

        <label for="note">note</label>
        <textarea name='note'>{{note}}</textarea><br />

        <input type="submit" />
    </form>

    <div id="attachments">
        {{#attachments}}
        {{idx}}
        {{#safe}}

        {{#text}}
        <p>{{.}}</p>
        {{/text}}

        {{#html}}
        <em>HTML is partially rendered.If you want to see the original, unsanitized version (might be unsafe) <a
                href="{{link}}" target="_blank" rel="noopener noreferrer">download it</a>.</em>
        <div class="embedded">{{{.}}}</div>
        {{/html}}

        {{#img}}
        <img src="{{link}}" />
        {{/img}}

        {{#object}}
        <object type="{{.}}" data="{{link}}">
            Can't display {{type}}. Please <a href="{{link}}" target="_blank" rel="noopener noreferrer">download</a> to
            see it.
        </object>
        {{/object}}

        <br />
        <a href="{{link}}" target="_blank" rel="noopener noreferrer">Download</a>.</p>
        {{/safe}}
        {{^safe}}
        This attachment might not be safe because '{{problem}}'.
        Open at your own risk!
        <a href="{{link}}" target="_blank" rel="noopener noreferrer">Open</a>
        {{/safe}}
        <hr />
        {{/attachments}}
        {{^attachments}}
        No content 😕
        {{/attachments}}
    </div>

</div>