@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Work+Sans:wght@100;400;700&display=swap');

:root {
    --main-color: #e0b0ff;
    --secondary-color: #a87bc6;
    --off-color: #005b4c;
}

.error {
    box-shadow: 0 0 3px #CC0000;
}

#toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#progress {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 3px;
    background-color: white;
    width: 100%;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
    display: none;
}

#progress .indeterminate {
    background-color: var(--secondary-color);
}

#progress .indeterminate:before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

#progress .indeterminate:after {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

#progress.htmx-request {
    display: inline;
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

/* Reset default styles */
body,
p,
ul,
li {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    font-family: 'Anaheim', sans-serif;
    background: var(--main-color);
    padding: 5px 0;
    text-align: center;
    margin-bottom: 5px;
    box-shadow: 0 1px 4px black;
}

header .title {
    font-size: 30px;
    color: var(--off-color);
}

header .sub {
    font-size: 15px;
    color: var(--secondary-color);
}

.searchbar {
    height: 44px;
    display: flex;
    border-bottom: 2px solid #888;
}

.searchbar input[type="submit"],
.searchbar input[type="reset"] {
    width: 38px;
    font-size: 20px;
    background: transparent;
    border: none;
    padding: 0;
    outline: inherit;
    cursor: pointer;
}

.searchbar input[type="search"] {
    flex: 1;
    outline: 0;
    border: 0;
    background: transparent;
}

.searchbar:focus-within {
    border-bottom-color: var(--secondary-color);
}

#inbox {
    flex-grow: 1;
}

#inbox a {
    text-decoration: none;
    color: inherit;
}

.inbox-item {
    border-bottom: 1px solid #ddd;
    display: flex;
    cursor: pointer;
}

.inbox-item:hover {
    background-color: #f9f9f9;
}

.inbox-item .selector {
    width: 4px;
    margin-right: 16px;
    background-color: var(--main-color);
    transition: opacity .2s;
    opacity: 0;
    flex-shrink: 0;
}

.inbox-item.selected .selector {
    opacity: 1;
}

.inbox-item .details {
    flex-grow: 1;
    min-width: 0;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inbox-item .details p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inbox-item .details .name {
    font-weight: bold;
    margin-bottom: 5px;
}

.inbox-item .details .from {
    font-weight: normal;
    font-size: small;
}

.inbox-item .details .subject {
    color: #888;
}

.inbox-item .details .note {
    font-size: 12px;
    color: #aaa;
}

.inbox-item .info {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-right: 7px;
}

.inbox-item .info .date {
    color: #aaa;
    font-size: smaller;
}

.inbox-item .info .goto {
    text-decoration: none;
    font-size: 50px;
}

.share {
    background-color: var(--off-color);
    color: white;
    padding: 20px;
    text-align: center;
}

.copy {
    cursor: pointer;
    font-size: 0.8em;
}